<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无标题文档</title>
<link href="main.css" rel="stylesheet" type="text/css">
<style type="text/css">
<!--
.style2 {color: #FFFFFF}
-->
</style>

</head>

<body>
            <TABLE width="100%" border=0 cellPadding=0 cellspacing="0" 
      borderColor=#FFFFFF bgcolor="#7594cc" class="bottomframe" id=AutoNumber2 style="BORDER-COLLAPSE: collapse">
              <TBODY>
                <TR>
                  <TD width="25%">　</TD>
                  <TD width="46%">
                    <P align=center class="style2">Copyright&copy; 2006 @@@@@@@@@@@@@@@@ mmxbb版权所有</P></TD>
                  <TD width="29%">　</TD>
                </TR>
              </TBODY>
</TABLE>
</body>
</html>
